//! **************************************************************************
// Written by: Map P.20131013 on Fri Mar 11 15:49:25 2016
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

