//! **************************************************************************
// Written by: Map P.20131013 on Tue Feb 23 16:11:15 2016
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

